
<div class="modal-header">
  <h3 class="modal-title">Agregue una cuenta a este cliente</h3>
</div>
<div class="modal-body">
  <form name="addAccountForm" novalidate="novalidate">
    <div ng-class="{ 'has-error': addAccountForm.balance.$invalid }" class="form-group">
      <label>Saldo:</label>
      <input placeholder="Ponga el saldo inicial de la cuenta" ng-model="initBalance" name="balance" money="money" required="required" class="form-control"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="addAccount()" class="btn btn-success">Registrar</button>
  <button ng-click="cancel()" class="btn btn-default">Cancelar</button>
</div>