include ./includes/nav.jade

div.container
	div.jumbotron
		h1 Administración de cuentas de un cliente
		p Edite la cuenta del cliente: {{ client.name }}

	table.table
		caption Aquí puede ver las cuentas del cliente {{ client.name }}
		thead
			tr
				th Account Number
				th Balance
				th
		tbody
			tr(ng-repeat="account in accounts")
				th {{ account.number || $index + 1 }}
				th {{ account.balance }}
				th
					button.btn.btn-info.btn-sm(ng-click="seeMovements()") Ver movimientos
				th
					button.btn.btn-success.btn-sm(ng-click="registerMovement('sm', account)") Registrar un movimiento
				th 
					button.btn.btn-danger.btn-sm(ng-click="deleteAccount('sm', account)") Borrar	

	div.alert.fade#alert-2(flash-alert="success", active-class="in", style="margin-top: 30px")
		span.alert-message {{ flash.message }}

	div(style="margin-bottom: 30px")
		a.btn.btn-default.btn-lg(ng-href="#/", style="margin-right: 30px") Volver atrás	
		button.btn.btn-lg.btn-success(ng-click="addAccount('sm')") Add account

