include ./includes/nav.jade

div.container
	div.jumbotron
		h1 Banco Fbank
		p Use esta consola de administración para administrar clientes, cuentas y movimientos.

	table.table
		caption Aquí puede ver todos los clientes del banco
		thead
			tr
				th #
				th Name
				th Address
				th Phone
				th
				th 
				th
				th
		tbody
			tr(ng-repeat="client in clients", ng-init="getClients()")
				th {{ client.id || $index + 1 }}
				th {{ client.name }}
				th {{ client.address }}
				th {{ client.phone }}
				th
					button.btn.btn-info.btn-sm(ng-click="seeAccounts(client)") Ver cuentas
				th
					button.btn.btn-success.btn-sm(ng-click="addAccount('sm', client)") Nueva cuenta
				th
					button.btn.btn-warning.btn-sm(ng-click="editClient('sm', client)") Editar
				th 
					button.btn.btn-danger.btn-sm(ng-click="deleteClient('sm', client)") Borrar
				th
					button.btn.btn-info.btn-sm(ng-click="generateReport('', client)") Generar Reporte	

	#alert-1.alert.fade(flash-alert='', active-class='in')
		span.alert-message {{flash.message}}

	button.btn.btn-default.btn-lg(ng-click="openRegisterModal('sm')", style="margin-right: 30px") Registrar Cliente	

