html(lang="en", ng-app="fbank")
	head
		title= fbank
		link(rel="stylesheet", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
	
	body
		.ng-view
		script(type="text/javascript", src="./node_modules/moment/min/moment.min.js")
		script(type="text/javascript", src="./node_modules/angular/angular.min.js")
		script(type="text/javascript", src="./node_modules/angular-route/angular-route.min.js")
		script(type="text/javascript", src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(type="text/javascript", src="./bower_components/angular-flash/dist/angular-flash.min.js")
		script(type="text/javascript", src="./bower_components/angular-money-directive/angular-money-directive.js")
		script(type="text/javascript", src="./bower_components/angular-momentjs/angular-momentjs.min.js")
		script(type="text/javascript", src="app.js")
